// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dynamic-list{
    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 35px 1fr;
    grid-template-areas: 
      "title buttons"
      "form form";
    width: 550px;
    border: 1px solid #f0f0f0;
    align-items: center;
}

.dynamic-list-header {
  grid-area: title;
  justify-self: start;
  margin-left: 10px;
}

.dynamic-list-buttons {
  grid-area: buttons;
  justify-self: end;
  margin-right: 10px;
}

.dynamic-list-content {
  grid-area: form;
  margin: 0 10px 10px 10px;
}

body {
  counter-reset: ingredientNumber;
  counter-reset: stepNumber;
}

.ingredient {
  counter-increment: ingredientNumber;
}

.ingredient span::before {
  content: counter(ingredientNumber);
}

.step {
  counter-increment: stepNumber;
}

.step span::before {
  content: counter(stepNumber);
}

.step textarea {
  width: 95%;
}

.ingredient label {
  display: inline;
}



